body{
    background-image: url('../images/parchemin.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
    margin: 0;
}

.cartes{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.carte{
    transform: scale(0.8);
}

.personas {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.persona{
    transform: scale(0.7);
}

.modal{
    display: flex;
    justify-content:center;
    align-items: center;
    z-index: 10;
    width: 100%;
    height: 100vh;
}
.content{
    background-color: white;
    border: 1px solid;
    width: 350px;
    height: 200px;
}

.start-page{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.start-title{
    text-align: center;
}

.starter{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.game{
    display: flex;
    flex-direction: column;
    padding: 10px 75px;
    background-image: url("./images/logo_cluely.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50%;
    opacity: 0.9;
}

.card {
    background-image: url("./images/caractere.png");
    background-color: red;
    width: 500px;
    height: 500px;
}

.tools{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
}